/* 背景を position:relative + bg-attachment: fiexedで指定 */
.cd-fixed-bg {
    position: relative;
    min-height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 2;
}
/* div要素ごとに背景を変化させる */
.cd-fixed-bg.cd-bg-1  {
  background-image: url('../images/img01.png');
}
.cd-fixed-bg.cd-bg-2  {
  background-image: url('../images/img02.png');
}
.cd-fixed-bg.cd-bg-3  {
  background-image: url('../images/img03.png');
}
.cd-fixed-bg.cd-bg-4  {
  background-image: url('../images/img04.png');
}
.cd-fixed-bg.cd-bg-5  {
  background-image: url('../images/img05.png');
}
/* 背景画像のdiv要素の間にdiv要素を入れる */
.cd-fixed-bg.cd-between  {
  color: #333;
  height: 50%;
  min-height: 50%;
}
/* CSS スマートフォンに対応 */ 
// スマートフォンに切り替わる際に、
// background-attachment: fixed;から
// background-attachment: scroll;に切り替えます。
// @media screen and (max-width: 736px) {
@media screen and (max-width: 640px) {
	.cd-fixed-bg {
		background-size: cover;
		background-attachment: scroll;
	}
}