  // hero section
  .hero {
    height: 400px;
    img {
      width: 100%;
      height: 400px;
      object-fit: cover;
      position: absolute;
      opacity: 0;
      transition: opacity 1s;
    }
    img.current {
      opacity: 1;
    }
  }
